h1 {
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 200;
}

p {
    font-size: 20px;
}

span {
    font-size: 20px;
}

.info {
    font-size: 40px;
    font-weight: 400;
    font-family: Courier New;
}

#special-actor {
    color: red;
}
